* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f7f5;
}

button {
  font-family: inherit;
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 500px) {
  main {
    width: 100%;
  }
}
